.top-banner {
    max-height: 200px;
    min-width: 300px;
    max-width: 600px;
  }

.pop {
    height: max-content;
    /* width: fit-content; */
    
}

.card {
  display: inline-block;
  width: 200px;
  margin: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.card img {
  transition: transform 0.3s;
}

.card img:hover {
  transform: scale(1.3);
}

/* #gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
} */

#gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* .col {
  margin: 0 10px;
} */

